/* 画面の中央に配置する */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(228, 13, 13, 0.077);
}

button {
    cursor: pointer;
}

/* 画面の中央に配置する */
.container {
    background-color: white;
    width: 370px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}