
body {
    background-color: rgba(228, 13, 13, 0.077);
    text-align: center;
    margin-top: 100px;
}

.container {
    background-color: white;
    width: 370px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.center {
    text-align: center;

}